<h2>What's that?</h2>
<p>
     There's been an awakening. Have you felt it?
    <br /> <br />
    Chewie... we're home.
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/tigerkid001">Github</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/sidhantsharma12">Sidhant Sharma</a>
  </li>
</ul>
